image:
  repository: ghcr.io/ORG/fastapi-redis
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: "1"
    memory: 512Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

env:
  REDIS_DB: "0"

redis:
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
